@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply font-dmsans;
  padding-top: 1rem;
}

/* tailwind.css or globals.css */
.no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  